<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <title>Create lotto page</title>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'lottoapp/css/main.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>submit to create new lotto !</h1>
        </div>
        <div class="container create_lotto">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
        <a href="{% url 'index' %}">뒤로 가기</a>
    </body>
</html>