<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'lottoapp/css/main.css' %}">
<html>
    <head>
        <title>lotto index page</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Lotto Home Page</h1>
            <a href="{% url 'create_lotto' %}">
                새로 만들기<span class="glyphicon glyphicon-plus btn btn-default"></span>
            </a>
        </div>
        <div class="container lottoprint">
            {% for lotto in lottos %}
                <h2><a href="{% url 'detail_lotto' lottokey=lotto.pk %}">{{lotto.text}}</a></h2>
                <p>last update: {{lotto.update_date}} by {{lotto.name}}</p>
                <p>{{lotto.lottos|linebreaksbr}}</p><!-- linebreaksbr => 개행문자 <br> 로 변환 -->
            {% endfor %}
        </div>
    </body>
</html>